
.music_game{position:absolute;
top:60;left:390;}
.music_style{position:absolute;
top:25;left:50;}
.music_stop{position:absolute;
top:30;left:0;}
.music_play{position:absolute;
top:30;left:0;}