
.hp{position:absolute;
top:0;left:0;}
.lvl{position:absolute;
top:0;left:120;}
.gold{position:absolute;
top:30;left:0;}
.def{position:absolute;
top:30;left:120;}
.menus{position:absolute;
top:0;left:240;}
.hp1{position:absolute;
top:10;left:35;}
.lvl1{position:absolute;
top:10;left:155;}
.gold1{position:absolute;
top:40;left:35;}
.def1{position:absolute;
top:40;left:155;}
.main{position:absolute;
top:60;left:0;}
